
h1 {
    font-weight: 600;
    color:rgb(4, 65, 134);
    margin-left: 20px;
}
h4 {
    margin-right: 20px;
}
.header {
    height: 60px;
    width: 100%;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}