<div class="header">
  <div>
    <h1>Englight</h1>
    <h4>Học tiếng anh mỗi ngày</h4>
  </div>
  <div class="user">
    <div class="user-account" [matMenuTriggerFor]="userMenu">
      <span class="material-symbols-outlined">account_circle</span>
      <span class="username">Ngan Dang</span>
    </div>
    <mat-menu #userMenu="matMenu">
      <div mat-menu-item>
        <span class="username">Ngan</span>
        <span class="username">Dang</span>
      </div>
      <div mat-menu-item>
        <span class="username">{{ "ngandang.526@gmail.com" }}</span>
      </div>
      <button mat-menu-item (click)="logout()">
        <span class="material-symbols-outlined">logout</span>
        Đăng xuất
      </button>
    </mat-menu>
  </div>
</div>
