<div class="side-menu">
  <div class="logo">
    <h1>Englight</h1>
  </div>

  <nav>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <span class="material-symbols-outlined">home</span>
          Dashboard</a
        >
      </li>
      <li>
        <a routerLink="/dictionary" routerLinkActive="active">
          <span class="material-symbols-outlined"> wand_shine </span>
          Dictionary</a
        >
      </li>
      <li>
        <a routerLink="/practice" routerLinkActive="active">
          <span class="material-symbols-outlined"> checklist </span>Practice</a
        >
      </li>
    </ul>
  </nav>
</div>
